@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Inter', sans-serif;;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
    box-sizing: border-box;
}

body {
	line-height: 1;
    background-color: #F4F6FD !important;
    height: 100vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.grid-container {
    width: 84%;
    max-width: 480px;
    min-width: 296px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .grid-container {
        width: 100%;
        max-width: 592px;
    }
}

@media screen and (min-width: 1024px) {
    .grid-container {
        max-width: 925px;
    }
}

@media screen and (min-width: 1200px) {
    .grid-container {
        max-width: 1184px;
    }
}

:root {
    --color-primary: #0D1829;
    --color-secondary: #E1E8F0;
    --color-tertiary: #00c853;

    --color-text: #91A4B7;

    --tw: 100vw;
    --mw: calc(100vw * 0.84);
    --ma: calc((var(--tw) - var(--mw)) / 2);
    --col: calc(var(--mw) / 37);

    @media (min-width: 600px) {
        --mw: 480px;
    }

    @media (min-width: 600px) {
        --mw: 592px;
    }

    @media (min-width: 600px) {
        --mw: 925px;
    }

    @media (min-width: 600px) {
        --mw: 1184px;
    }
}
