.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the page content */
    padding: 32px 16px; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: var(--color-primary);
    color: white;
    height: 100vh;
    width: 72px;
    transition: width 0.5s ease-in-out;

    display: flex;
    flex-flow: column;
}

.sidebar-open {
    width: 200px;
    max-width: 200px;
    transition: width 0.5s ease-in-out;
}

.sidebar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    position: relative;
}

.sidebar-logo{
    cursor: pointer;
}

.sidebar-close {
    background-color: var(--color-primary);
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: absolute;
    right: -24px;
    top: -16px;
    cursor: pointer;
    display: none;
}

.sidebar-open .sidebar-close {
    display: flex;
}

.sidebar-menu{
    margin-bottom: 32px;
    gap: 8px;
    display: flex;
    flex-flow: column;
    padding: 0;
}

.sidebar-menu-option > a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 8px;
    text-decoration: none;
    color: var(--color-text);
    gap: 8px;
}

.sidebar-open .sidebar-menu-option > a{
    justify-content: start;
}

.sidebar-menu-option > a:hover{
    border-radius: 8px;
    background: #F8FAFC;
}

.sidebar-menu-option > a:hover > .sidebar-menu-option-text{
    color: #030913;
}

.sidebar-menu-option > a:hover > .sidebar-menu-option-icon > svg > path{
    fill: #030913;
}

.sidebar-menu-option-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-menu-option-text{
    color: var(--color-text);
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    line-height: 16px;
    display: none;

}

.sidebar-open .sidebar-menu-option-text {
    display: block;
}

.sidebar-bottom{
    margin-top: auto;
}